<div id="<%= dom_id client %>">
  <p>
    <strong>Client:</strong>
    <%= client.client %>
  </p>

  <p>
    <strong>Legalsituation:</strong>
    <%= client.legalSituation %>
  </p>

  <p>
    <strong>Numberdoc:</strong>
    <%= client.numberDoc %>
  </p>

</div>
